<% if @user.errors.any? %>
  <div id="error_explanation">
    <p><h1>The form contains</h1> <h2><%= pluralize(@user.errors.count, "erreur") %></h2></p>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
<% end %>