<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>The form contains <%= pluralize(@user.errors.count, "erreur") %></h2>
    <p>Please correct below :</p>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
<% end %>