<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial Tutorial on
  <a href="http://railstutorial.org/help">help page Rails Tutorial</a>.
  For help on this application example, see
  <a href="http://railstutorial.org/book">Book Rails Tutorial</a>.
</p>