<h1>Home page Mini Blog</h1>

<p>
  This application has been realized with the tutorial
  <a href="http://railstutorial.org/">Tutorial Ruby on Rails</a>.
</p>

<%= link_to "Sign up now!", users_signup_path, :class => "signup_button round" %>